.App {
  text-align: center;
  font-size: 16px;
}
table,
tr,
td,
th {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
}
thead {
  background-color: #81d4fa;
}
table {
  position: relative;
  margin: auto;
}
button {
  margin: 0 5px;
  width: auto;
  height: 30px;
  border-radius: 5px;
}
.btn-green {
  background-color: #66bb6a;
  border: 1px solid #66bb6a;
}
.btn-red {
  background-color: #ff0000;
  border: 1px solid #ff0000;
}
.btn-blue {
  background-color: #03a9f4;
  border: 1px solid #03a9f4;
}
.form-block {
  margin: 20px 0;
}
.form-block input {
  margin: 7px;
  width: 180px;
  height: 35px;
}
